# ------------------------------
# macOS system files
# ------------------------------
.DS_Store
._*


# ------------------------------
# Kathara / lab temporary files
# ------------------------------
*.log
*.tmp
*.pid
*.pcap


